---
import Layout from "@/layouts/Layout.astro";
import PageTitle from "@/components/core/PageTitle.astro";
import BlogsFilter from "@/components/sections/blogs/BlogsFilter.astro";
import BlogCards from "@/components/sections/blogs/BlogCards.astro";
import { blogs } from "@/data/blogs";
---

<Layout
  pageTitle="Blogs"
  description="You can read all the new blogs from Thermo Group in here"
>
  <main>
    <PageTitle
      title="Articles & Insights"
      subtitle="Expert knowledge and industry insights about industrial heating components, materials, and best practices."
    />
    <BlogsFilter />
    <BlogCards blogs={blogs} />
  </main>
</Layout>
