---
import BlogCard from "./BlogCard.astro";
import type { Blog } from "@/types/blog";
interface Props {
  blogs: Blog[];
}
const { blogs } = Astro.props;
---

<section class="py-20 bg-base-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {blogs.map((eachBlog) => <BlogCard blog={eachBlog} />)}
    </div>
  </div>
</section>
