---
import Layout from "@/layouts/Layout.astro";

import PageTitle from "@/components/core/PageTitle.astro";
import ContactGetInTouch from "@/components/sections/contact/ContactGetInTouch.astro";
---

<Layout pageTitle="Contact Us" description="Contact Thermo Group">
  <main>
    <PageTitle
      title="Contact Us"
      subtitle="Get in touch with our team for inquiries about products, technical support, or partnership opportunities."
    />
    <ContactGetInTouch/>

  </main>
</Layout>
