---
import ProductCard from "./ProductCard.astro";
import type { CollectionEntry } from "astro:content";
import { ArrowRight } from "@lucide/astro";
interface Props {
  products: CollectionEntry<"products">[];
}
const { products } = Astro.props;
---

<section id="products" class="py-20 bg-base-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <h2 class="text-2xl font-bold text-base-content mb-4">
        Featured Products
      </h2>
      <p class="text-base-content/70 max-w-2xl mx-auto">
        Explore our range of high-quality industrial heating components and
        materials
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12">
      {
        products.map((product) => {
          return <ProductCard product={product} />;
        })
      }
    </div>
  </div>
</section>
